<div class="owl-carousel">
  <div class="carousel-item"><img src="/files/carousel/great_taste-11.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-12.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-13.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-14.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-15.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-16.jpg" /></div>
  <div class="carousel-item"><img src="/files/carousel/great_taste-17.jpg" /></div>
</div>