<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Great Taste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/carousel.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Owl Carousel Plugin -->
    <link rel="stylesheet" href="/assets/js/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/js/owl.carousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/js/owl.carousel/owl-carousel/owl.transitions.css">
    <script type="text/javascript" src="/assets/js/owl.carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </head>