.menu-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  flex-basis: 48%;
  margin-bottom: 0.5em;
}

.menu-item-name {
  font-size: 1em;
}

.menu-item-price {
  font-size: 0.8em;
  float: right;
  
  color: darkred;
}

.menu-item hr {
  clear: both; /* In case the price is long enough to overflow */
  border: 1px dashed red;
}

.menu-item-description {
  font-size: 0.8em;
}