nav {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(229, 211, 145, 0.6);
}

nav ul {
  margin: 0; padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {

}

nav ul li + li {
  margin-left: 5%;
}

nav ul li a {
  display: block;
  padding: 0.4em 0;

  text-decoration: none;
  line-height: 1em;

  color: #37020a;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: white;
}